1. Write a Python program to find sum of elements in list?

In [3]:
list=[1,2,3,4,5,6,7,8,9]
sum=0
for i in range(len(list)):
    sum=sum+i
print("sum of element",sum)

sum of element 36

2. Write a Python program to Multiply all numbers in the list?

In [10]:
list=[1,2,3,4,5,6,7,8,9]
sum=1   # first from 1  not 0 in muyylpilicaion
for i in range(1,10):
    sum=sum*i
print("product of element",sum)

product of element 362880

3. Write a Python program to find smallest number in the list ?

In [26]:
list=[50,30,20,56,77,22,4,56,43,2,67883,567,556,8978,764,332,1000]
sum=list[0]
for i in list:
    if sum>i:
        sum=i  #  already the value the is 20 and  the change he  vaslue ofthe it .
print("the smaller number is  ",sum)

the smaller number is   2

4. Write a Python program find largest number in a list?

In [27]:
list=[50,30,20,56,77,22,4,56,43,2,67883,567,556,8978,764,332,1000]
sum=list[0]
for i in list:
    if sum<i:
        sum=i  #  already the value the is 20 and  the change he  vaslue ofthe it .
print("the smaller number is  ",sum)

the smaller number is   67883

5. Write a Python program to find second largest number in a list?

In [35]:
list=[50,30,20,56,77,22,4,56,43,2,67883,567,556,8978,764,332,1000]
list.sort()  #arrange the value 
list[2]  # 2 smallest -2 secound largest   or use reverse
print("the second largest of givenn list is ",list[-2])

the second largest of givenn list is  8978

6. Write a Python program to find N largest elements from a list?

In [ ]:
list=[50,30,20,56,77,22,4,56,43,2,67883,567,556,8978,764,332,1000]

In [43]:
n=int(input("enter a number where largest element "))
list.sort()
list.reverse()
print(list[ : :n])

enter a number where largest element 2
[67883, 1000, 567, 332, 56, 50, 30, 20, 2]

7. Write a Python program to print even numbers in a list?

In [51]:
print('even number is ')
print([  i for i in list  if i%2==0])

even number is
[8978, 1000, 764, 556, 332, 56, 56, 50, 30, 22, 20, 4, 2]

8. Write a Python program to print odd  numbers in a list?

In [52]:
print('odd number is ')
print([  i for i in list  if i%2==1])

odd number is
[67883, 567, 77, 43]

9. Write a Python program to Remove  empty List from List?

In [64]:
list=[[50,30,20,56,77 ],[12,12,12,12,12,12,12,12,12,12,12], [] ,[22,4,56,43,2,67883,567,556,8978,764,332,1000]]
for i in list:
    if type(i)==list and i==[]:
        list.pop(list.index(i))
print(list)

[[50, 30, 20, 56, 77], [12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12], [], [22, 4, 56, 43, 2, 67883, 567, 556, 8978, 764, 332, 1000]]

10. Write a Python program to Cloning or Copying a list?

In [67]:
list=[50,30,20,56,77,22,4,56,43,2,67883,567,556,8978,764,332,1000]
newlist=[]
for i in list:
    newlist.append(i)
print("copied list", newlist)

copied list [50, 30, 20, 56, 77, 22, 4, 56, 43, 2, 67883, 567, 556, 8978, 764, 332, 1000]

11. Write a Python program to Count occurrences of an element in a list?

In [71]:
list=[50,30,20,56,77,22,4,56,43,2,67883,567,556,8978,77,77,77,764,332,1000 ,12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 22, 4, 56, 43, 2, 67883, 567, 556, 8978, 764, 332, 1000]
count=0
n=int(input("enter a number to seach "))
for i  in list:
    if i==n:
        count=count+1
print("occerrences : ",count)

enter a number to seach 77
occerrences :  4